In [9]:
# For this practical example we will need the following libraries and modules
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import seaborn as sns
sns.set()

### Import df
SMOTE Oversampled unpreprocessed data.

In [10]:
df2 = pd.read_csv("df2.csv")

In [11]:
df2.head()

,aluminium,ammonia,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,...,lead,nitrates,nitrites,mercury,perchlorate,radium,selenium,silver,uranium,is_safe
0,1.65,9.08,0.04,2.85,0.007,0.35,0.83,0.17,0.05,0.20,...,0.054,16.08,1.13,0.007,37.75,6.78,0.08,0.34,0.02,1
1,2.32,21.16,0.01,3.31,0.002,5.28,0.68,0.66,0.90,0.65,...,0.100,2.01,1.93,0.003,32.26,3.21,0.08,0.27,0.05,1
2,1.01,14.02,0.04,0.58,0.008,4.24,0.53,0.02,0.99,0.05,...,0.078,14.16,1.11,0.006,50.28,7.07,0.07,0.44,0.01,0
3,1.36,11.33,0.04,2.96,0.001,7.23,0.03,1.66,1.08,0.71,...,0.016,1.41,1.29,0.004,9.12,1.72,0.02,0.45,0.05,1
4,0.92,24.33,0.03,0.20,0.006,2.67,0.69,0.57,0.61,0.13,...,0.117,6.74,1.11,0.003,16.90,2.41,0.02,0.06,0.02,1

#### Split into featues and labels and check shape

In [12]:
X = df2.drop(['is_safe'],axis=1)
y = df2["is_safe"]

#### Preprocess data.

In [13]:
# Import the scaling module
from sklearn.preprocessing import StandardScaler

# Create a scaler object
scaler = StandardScaler()

In [14]:
# fit and transform on the input data at a single time and converts the data points. 
# Scale the features and store them in a new variable (the actual scaling procedure)
X_scaled = pd.DataFrame(scaler.fit_transform(X),columns=X.columns,index=X.index)

In [15]:
print(f"Shape of X_scaled a shape of {X_scaled.shape}\n")
print(f"Shape of 'y' targets a shape of {y.shape}")

Shape of X_scaled a shape of (14168, 20)

Shape of 'y' targets a shape of (14168,)

In [16]:
df2["is_safe"].value_counts()

1    7084
0    7084
Name: is_safe, dtype: int64

#### Split into train and test sets.

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train,X_test,y_train,y_test = train_test_split(X_scaled,y,random_state=22,train_size=.8)