In [1]:
# For this practical example we will need the following libraries and modules
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import seaborn as sns
sns.set()

### Import df
Near Miss Undersampled unpreprocessed data.

In [2]:
df1 = pd.read_csv("df1.csv")

In [3]:
df1.head()

,aluminium,ammonia,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,...,lead,nitrates,nitrites,mercury,perchlorate,radium,selenium,silver,uranium,is_safe
0,0.93,20.77,0.02,3.23,0.004,4.00,0.71,1.56,0.63,0.00,...,0.142,6.29,1.62,0.007,46.27,1.77,0.06,0.03,0.01,0
1,0.10,24.03,0.07,0.45,0.050,0.15,0.02,0.57,0.61,0.13,...,0.117,6.74,0.30,0.003,1.74,0.80,0.02,0.07,0.02,0
2,0.30,14.51,0.05,2.01,0.004,0.41,0.36,0.26,1.41,0.34,...,0.050,7.85,1.16,0.003,1.01,0.63,0.03,0.19,0.04,0
3,0.04,6.20,0.06,0.28,0.040,0.59,0.02,0.33,0.82,0.29,...,0.093,1.51,1.00,0.004,1.40,0.03,0.03,0.03,0.05,0
4,0.08,14.36,0.05,1.31,0.050,0.08,0.04,0.26,1.41,0.34,...,0.050,7.85,1.16,0.003,0.33,0.11,0.03,0.06,0.04,0

#### Split into featues and labels and check shape

In [5]:
X = df1.drop(['is_safe'],axis=1)
y = df1["is_safe"]

#### Preprocess data.

In [6]:
# Import the scaling module
from sklearn.preprocessing import StandardScaler

# Create a scaler object
scaler = StandardScaler()

In [8]:
# fit and transform on the input data at a single time and converts the data points. 
# Scale the features and store them in a new variable (the actual scaling procedure)
X_scaled = pd.DataFrame(scaler.fit_transform(X),columns=X.columns,index=X.index)

In [9]:
print(f"Shape of X_scaled a shape of {X_scaled.shape}\n")
print(f"Shape of 'y' targets a shape of {y.shape}")

Shape of X_scaled a shape of (1824, 20)

Shape of 'y' targets a shape of (1824,)

In [17]:
df1["is_safe"].value_counts()

0    912
1    912
Name: is_safe, dtype: int64

#### Split into train and test sets.

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X_train,X_test,y_train,y_test = train_test_split(X_scaled,y,random_state=22,train_size=.8)